.terminal {
  white-space: break-spaces;
  display: flex;
  color: #e1e1e1;


}

.span_text {
  display: flex;
  margin-right: 5px;
  font-size: 18px;
}

.body {
  border-radius: 0 0 15px 15px;

  align-items: center;
  justify-content: center;
  width: 950px;
  margin: 0 auto;
  background-color: rgba(33, 33, 33, 0.67);
  color: white;
  height: 500px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;

  span {
    color: green;
  }

}

.input {
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  color: white;
  margin-left: 5px;
}

.header {
  display: flex;
  align-content: space-between;
  margin: 0 auto;
  width: 950px;
  border-radius: 15px 15px 0 0;
  height: 40px;
  background-color: rgba(60, 63, 64, 0.82);

  .header_buttons {
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 5px;


    .closeheader_icon {
      margin: 6px 0 0 25px;
      width: 17px;
      height: 17px;
      display: flex;

      &:hover {
        background: rgba(255, 255, 255, 0.18);

        border-radius: 5px;
      }

    }

    .svernheader_icon {
      margin: 8px 0 0 25px;
      width: 14px;
      height: 14px;
      display: flex;

      &:hover {
        background: rgba(255, 255, 255, 0.18);

        border-radius: 5px;
      }

    }

    .minus_icon {
      margin: 7px 0 0 25px;
      width: 17px;
      height: 17px;
      display: flex;

      &:hover {
        background: rgba(255, 255, 255, 0.18);
        border-radius: 5px;
      }
    }
  }

  .tab {
    border-radius: 8px 8px 0 0;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    background: #000;
    width: 200px;
    height: 27px;

    .powershell_icon {
      margin-top: 2px;
      margin-right: 10px;
      display: flex;
      width: 15px;
    }

    .close_icon {
      width: 20px;
      margin-left: 20px;

      &:hover {
        background: rgba(255, 255, 255, 0.18);

        border-radius: 5px;
      }
    }
  }
}
.drag{
  position: absolute;
}
