.container {
  position: absolute;
  bottom: 0;
  background: #142730;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .widget_icon {
    margin-left: 10px;
    width: 28px;
    display: flex;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      background-size: 150%;
      border-radius: 5px;
    }
  }
}

.task_left {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.task_right {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;

  span {
    color: white;
    font-size: 14px;
    margin-right: 15px;
    font-weight: 600;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      background-size: 150%;
      border-radius: 5px;
    }
  }
}

.taskDate {
  display: flex;
  padding: 0 8px;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 150%;
    border-radius: 5px;
  }

  div {
    color: #fdfdfd;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
  }
}

.pusk_icon {
  width: 30px;
  margin-right: 10px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
}

.search_icon {
  width: 29px;
  margin-right: 10px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 150%;
    border-radius: 5px;
  }
}

.explorer_icon {
  width: 33px;
  margin-right: 10px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 150%;
    border-radius: 5px;
  }
}

.volume_icon {
  margin: 0 10px;
  width: 26px;
  height: 26px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 150%;
    border-radius: 5px;
  }
}

.wifi_icon {
  width: 25px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 150%;
    border-radius: 5px;
  }
}

.up_icon {
  width: 25px;
  margin-right: 15px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 150%;
    border-radius: 5px;
  }
}

